<div class="wrapper-login">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="registerForm" (submit)="registerUser()" novalidate>
      <h1 class="h3 mb-3 fw-normal">Digital Tech - Sign Up</h1>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" formControlName="name"/>
        <label for="floatingName">Name</label>
        <p class="text-red" *ngIf="registerForm.get('name')?.dirty && registerForm.get('name')?.invalid">El campo es
          requerido</p>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingSurname" formControlName="surname"/>
        <label for="floatingSurname">SurName</label>
        <p class="text-red" *ngIf="registerForm.get('surname')?.dirty && registerForm.get('surname')?.invalid">El campo
          es
          requerido</p>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingUser" formControlName="username"/>
        <label for="floatingUser">Username</label>
        <p class="text-red" *ngIf="registerForm.get('username')?.dirty && registerForm.get('username')?.invalid">El
          campo es
          requerido</p>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">¿Ya tienes una cuenta con nosotros?</p>
      <a [routerLink]="['/auth/login']">Iniciar Sesion</a>
    </form>
  </main>
</div>
